.profile__position {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 30px;
}

@media screen and (max-width: 700px) {
  .profile__position {
    margin-left: 28px;
    padding-bottom: 36px;
  }
}
